.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.login-button {
  color: white;
  padding: 14px 20px;
  width: 100%;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  background-color: red;
  font-size: 18px;
  text-decoration: none;
}
.login-form {
  display: flex;
  flex-direction: column;
  font-size: large;
  background-color: #e0d6d6;
  justify-content: center;
  align-items: center;
}
.register-button {
  color: "white";
  padding: "14px 20px";
  width: "50%";
  margin: "8px 0";
  border: "none";
  cursor: "pointer";
  background-color: "#686868";
}
.register-form {
  display: flex;
  flex-direction: column;
  font-size: large;
  background-color: #969090;
  padding: 3%;
}