 .close{  
      position: relative;
    left: 90%;
    color: #000;
    font-size: 35px;
    font-weight: bold;
 }
 .header-modal{
         text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
 }
 .modal{
        position: relative;
    left: 90%;
    color: #000;
    font-size: 35px;
    font-weight: bold;
 }