

button#login-page {
  border: none;
  background-color: rgb(196, 196, 196);
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 19px 20px;
  text-decoration: none;
  text-align:left;
}
 button#login-page :hover{
    opacity: 0.8;
 }
 div#rs-btn-toolbar{
   justify-content: center;
   align-items: center;
   width:60%;
 }
 .input{
     width:50%;
     color:white;
 }
 a:hover{
     opacity:0.8;
 }

 div#rs-btn-toolbar{
   display:flex;
   width:auto;

 }
 .footer-bottom{
    font-size: 14px;
    align-items: center;
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-justify:auto;
    justify-content: center;
 }

 .footer-bottom ::before{
       
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #818d86;
 }
 
