

button#login-page {
  border: none;
  background-color: rgb(196, 196, 196);
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 19px 20px;
  text-decoration: none;
  text-align:left;
}
 button#login-page :hover{
    opacity: 0.8;
 }
 div#rs-btn-toolbar{
   justify-content: center;
   align-items: center;
   width:60%;
 }
 .input{
     width:50%;
     color:white;
 }
 a:hover{
     opacity:0.8;
 }
 div#rs-form-control .rs-form-control-wrapper{
     width:50%;
 }
