.sold-button{
        float: left;
    width: 10%;
    height: 55px;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: rgb(83, 83, 83);
}
* {
  box-sizing: border-box;
}

main{
  position: relative;
  margin-top: 60px;
}

div#search-box input[type=text] {
  padding: 10px;
  margin: 10px 0px;
  font-size: 17px;
  float: left;
  width: 20%;
  border: black 1px solid;
  height: 50px;
  background: white;
  border-radius: 0;
}

div#search-box button#search-btn {
  float: left;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-top: 10px;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: rgb(83, 83, 83);
}

.room-filter-container{
  display: flex;
  grid-gap: 50px;
}

.filter-header{
  position: sticky; 
  top: 0; 
  background-color: white;
  z-index: 2; 
  margin-bottom: 5px;
}

.submit-filter-div{
  margin: 10px 0;
  left: 0;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.apply-filter-btn{
  position: sticky;
  padding: 15px;
  font-size: 15px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; background-color: #4193ff;
}

.room-filter-container div input.filter-item{
  width: 130px;
}

.filter-btn{
  width: 200px;
}

.filter-item{
  height: 50px;
  padding: 14px;
  margin: 10px 0px;
  font-size: 14px;
  border: 1px solid rgb(172, 172, 172);
}

#filterBtn {
  float: right;
  width: 15%;
  padding: 5px;
  font-size: 15px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: rgb(83, 83, 83);
}

#filterBtn:hover{
  background-color: rgb(65, 65, 65);
}

#page-container{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

legend{
  letter-spacing: 1px;
  font-size: 18px;
}

.listing-page-grid-container {
  margin: 0 auto;
  width: 95%;
  display: grid;
}

.right-side{
  border-left: solid black 1px;
  padding: 10px 20px;
  min-width: 680px; 
  width: 40%;
  height: 95%;
  overflow-x: hidden;
  position: fixed;
  right: 0;
}

#houses-container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 25px;
  right: 0;
}

input:focus{
  outline: 1px solid rgb(199, 199, 199);
}

@media only screen and (max-width: 1030px) {
  #houses-container{
    margin: auto;
    width: 100%;
    grid-template-columns: 1fr!important;
  }

  div.right-side{
    min-width: 100%;
    margin: auto;
    overflow: auto;
  }
}

@media only screen and (max-width: 570px) {
  button#filterBtn{
    width: 60px;
  }

  .filter-btn{
    width: 110px;
  }
}
.search-icon{

  height:55px;
  width:55px;
}